@{
    ViewBag.Title = "Check-in";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2 class="text-center">Check-out</h2>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="@Url.Action("Checkout", "CheckIn")" method="post">
                    <div class="form-group">
                        <label for="employeeID">Mã Nhân Viên:</label>
                        <input type="text" class="form-control" id="employeeID" name="employeeID" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Ghi nhận</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
