
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="~/Home/Index">
                <span class="menu-title">Trang chủ</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Nhân viên</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="~/Home/QLNV">Quản lý nhân viên</a></li>
                    <li class="nav-item"> <a class="nav-link" href="~/Home/QLCheDo">Quản lý chế độ</a></li>
                    <li class="nav-item"> <a class="nav-link" href="~/Home/GuiMail">Gửi mail</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-bophan" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Bộ phận</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
            </a>
            <div class="collapse" id="ui-bophan">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="~/Home/PhongBan">Phòng ban</a></li>

                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-chamcong" aria-expanded="false" aria-controls="general-pages">
                <span class="menu-title">Chấm công</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-medical-bag menu-icon"></i>
            </a>
            <div class="collapse" id="ui-chamcong">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="~/Home/BangCong">Bảng công</a></li>
                    <li class="nav-item"> <a class="nav-link" href="~/Home/KTKL">Khen thưởng/Kỷ luật</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-luong" aria-expanded="false" aria-controls="general-pages">
                <span class="menu-title">Bảng lương</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-medical-bag menu-icon"></i>
            </a>
            <div class="collapse" id="ui-luong">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="~/Home/BangLuong">Bảng lương</a></li>
                  
                    <li class="nav-item"> <a class="nav-link" href="~/Home/TinhLuong">Tính lương</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-duan" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Dự án</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
            </a>
            <div class="collapse" id="ui-duan">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="~/Home/DuAn">Dự án</a></li>
                    <li class="nav-item"> <a class="nav-link" href="~/Home/PhanCongDuAn">Phân công dự án</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Home/NghiPhep">
                <span class="menu-title">Nghỉ phép</span>
                <i class="mdi mdi-table-large menu-icon"></i>
            </a>
        </li>
       
        <li class="nav-item">
            <a class="nav-link" href="~/Home/TraCuu">
                <span class="menu-title">Tra cứu thông tin</span>
                <i class="mdi mdi-table-large menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Home/HeThong">
                <span class="menu-title">Hệ thống</span>
                <i class="mdi mdi-table-large menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Home/NgayLe">
                <span class="menu-title">Quản lí ngày lễ</span>
                <i class="mdi mdi-table-large menu-icon"></i>
            </a>
        </li>
    </ul>
</nav>